.Main {
  max-width: 500px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color: white;
}

.Background {
  background-image: url("./clouds_weather_app.jpg");
  max-width: 100%;
  height: 1000px;
}

form {
  padding: 10px;
  text-align: center;
}

.form {
  display: flex;
  margin-top: 20px;
}

.searchInput {
  border-radius: 5px;
  height: 37px;
  width: 350px;
  margin-left: 15px;
  margin-right: 10px;
}

.searchButton {
  background-color: rgb(51, 44, 44);
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 150%;
}

.forecastContainer {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px;
}

.days {
  text-align: center;
  line-height: px;
}

.days img {
  max-width: 60px;
}
